@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.home_title {
  text-align: center;
  padding: 50px 0;
  font-size: 50px;
}

.main-content {
  background-color: #1c1c1c;
  color: white;
}

.main-content .load-more {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.main-content .load-more button {
  padding: 10px 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #0282f9;
  border: transparent;
}

.main-content .comics-container {
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-content .comics-container h2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 10px 25px;
  font-size: 30px;
  background-color: #0282f9;
}

.main-content .comics-container .card {
  width: 15%;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
}

.main-content .comics-container .card img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.main-content .comics-container .card h3 {
  text-transform: uppercase;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  background-size: cover;
  height: 370px;
  overflow: hidden;
}

.footer-top .links {
  height: 370px;
  margin: 15px 0 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-top .links ul {
  list-style: none;
  margin-right: 50px;
}

.footer-top .links ul .list-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0 15px;
}

.footer-top .links ul a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 12px;
}

.footer-top .links ul a:hover {
  text-decoration: underline;
}

.footer-top .logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}

.footer-bottom {
  background-color: #303030;
  padding: 30px;
}

.footer-bottom .sign-up button {
  background-color: transparent;
  padding: 15px;
  border: solid 3px #0282f9;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.footer-bottom .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.footer-bottom .socials .social-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .socials .social-links .list-title {
  color: #0282f9;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: white;
}

.header img {
  height: 80px;
}

.header .nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header .nav ul li {
  margin: 0 15px;
}

.header .nav ul li a {
  height: 120px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #1c1c1c;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav ul li a:hover {
  color: #0282f9;
  border-bottom: solid 5px #0282f9;
}

.header .nav ul li a.active {
  color: #0282f9;
  border-bottom: solid 5px #0282f9;
}

.jumbotron {
  height: 400px;
}

.separator {
  height: 70px;
  background-color: #0282f9;
  position: relative;
}

.separator .active-comic-img {
  width: 150px;
  position: relative;
  left: 15%;
  top: -175px;
  border: solid 1px white;
}

.separator .active-comic-img img {
  width: 100%;
}

.comic-desc {
  padding: 60px 0;
  width: 70%;
}

.comic-desc h2 {
  color: #003f5e;
  font-size: 28px;
  margin-bottom: 30px;
}

.comic-desc p {
  color: #65605b;
  font-size: 14px;
}

form {
  padding: 60px 0;
}

form .form-group {
  padding-bottom: 15px;
}

form .form-group .form-control {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-top: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .btn.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

