* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

.home_title {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
}